.listing-card-container {
  border: 1px solid #ccc; /* Border around the whole listing card */
  padding: 10px;
}

.appointment {
  margin-bottom: 10px; /* Add some space between each appointment listing */
}

.appointment-border {
  border: 1px solid #ccc; /* Border around each appointment listing */
  padding: 10px;
}
