            <div class="pet-profile-card">
              <img class="pet-img" src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcTtm-_OQvq1RVIUTNm1pxjuQahV-bKDcctDy7f01jeEEB2j5aq91woaedugqTNlbdASIobI52UU_wKmB6s" alt="Your pet!">
              <div class="pet-card-content">
                <div class="pet-content-titles">
                  <h5 class="pc-title">Owner & Pet</h5>
                  <p class="pc-title">Location</p>
                </div>
                <div class="pet-desc">
                  <p class="pet-card-text">Description of the dog and all the wonderful things this dog is</p>
                </div>
                </div>
                <button class="pet-card-btn">See profile</button>
                <img class="avatar" src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YXZhdGFyfGVufDB8fDB8fHww" alt="your profile picture">
            </div>
