<div class="container">
  <div class="banner p-3 align-middle">
    <div class="row m-2">
      <div class="col-7">
        <h1>Find fellow pet owners in your area</h1>
        <div class="form-inline">
          <input class="form-control mr-sm-2 align-content-middle" type="search" placeholder="e.g D0G 4ME">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
      <div class="col-4">
        <p>At Collabrador we connect local, like-minded dog owners to create a community of support when you need it.
           Collabradors can post when their dog needs looking after and also help their connection when they need it, all without costing a penny!
           Make friends and ensure your dog is always well looked after. </p>
      </div>
    </div>
  </div>
</div>

<div class="body">
  <div class="row">
    <h2 class="text-center">Members</h2>
  </div>
  <div class="row d-flex flex-grid justify-content-between">
    <div class="col-3">

      <ul>
        <li><h2>Why join</h2></li>
        <li>IMAGE</li>
        <li><p>Find likeminded dog owners and support eachother</p></li>
      </ul>

    </div>

    <div class="col-3">
      <ul>
        <li><h2>Why join</h2></li>
        <li>IMAGE</li>
        <li><p>Find likeminded dog owners and support eachother</p></li>
      </ul>
    </div>

    <div class="col-3">
      <ul>
        <li><h2>Why join</h2></li>
        <li>IMAGE</li>
        <li><p>Find likeminded dog owners and support eachother</p></li>
      </ul>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-6">

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <div class="profile-info d-flex justify-content-inline">
                  <h5 class="card-title">Owner & Pet</h5>
                  <p>Location</p>
                </div>
                  <p class="card-text">DOG description</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>

            </div>
          </div>

          <div class="col-6">

                    <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <div class="profile-info d-flex justify-content-inline">
                  <h5 class="card-title">Owner & Pet</h5>
                  <p>Location</p>
                </div>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>

          </div>
        </div>
      </div>
      </div>

      <div class="col-4">
        <div class="row mr-auto">
          <h1>MAP</h1>
        </div>
      </div>
    </div>
  </div>
</div>
