<div class="body pb-5">
  <div class="container p-3">
    <div class="banner p-3 align-middle" style="height: 350px;">
      <div class="row m-2 justify-content-around" style="height: 300px">
        <div class="col-5 d-flex flex-column justify-content-center">
          <h1>Find fellow pet owners in your area</h1>
          <div data-controller="postcode">
             <form data-action="submit->postcode#search" class="form-landing mt-4">
                <input data-postcode-target="postcodeInput" class="form-landing-search" type="text" placeholder="e.g D0G5 4US">
                <button class="form-landing-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
           </div>
        </div>
        <div class="col-5 banner-bg-img d-flex flex-column justify-content-center">
            <%# <img src="https://png2.cleanpng.com/sh/d5427c9be2fb562143440e4b4d864a04/L0KzQYq3VsI3N6d7R91yc4Pzfri0jPFjepJphAQ2cnX3grrslvVzNZRxgeI2YYL3PcfsgCRwel5sitN5aHnmg376lP9kc15oh951ZXP3ebF1Tf9nNZd3fdc2dIX1hL3sTfRzaahuhtk2YXT5cbBqhfQubJD8ht54LUXnQYS4UPQ4bmE8SaQ6Lkm0SIO5UcQzOWY7Sac8MEW7Q4qBVMkveJ9s/kisspng-labrador-retriever-clip-art-vector-graphics-stock-collection-of-free-turtle-drawing-advanced-downlo-5d1310d7f07121.9182214215615305839849.png" width="300px" height="250px" alt="Low opacity labrador"> %>
            <p class="text-justify">At Collabrador we connect local, like-minded dog owners to foster a community of support when you need it.
              Collabradors can post when their dog needs looking after or help their fellow collabradors, all without costing a penny!
              Make friends and ensure your dog is always well looked after. </p>

        </div>
      </div>
    </div>
  </div>

  <div class="container mb-3" style="max-height: 500px;">
    <div class="row">
      <div class="index-grid col-6">
            <% @pets.each do |pet| %>
              <%= render 'profile_card', pet: pet, owner: pet.user %>
            <% end %>
        </div>


      <div class="col-6">
          <div id ="map" data-controller="map" data-map-purpose="general" style="width: 100%; height: 600px;" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class ="map-eg-img"></div>
      </div>
    </div>
   </div>
  </div>

<%# test %>
<div class="footer-bg">
  <div class="container p-5 testim-bg">
    <div class="row d-flex flex-grid justify-content-around">
      <div class="col-3 flex-column justify-content-center">


        <ul class="testim-list">
          <li><h2>Meet Fellow Dog Lovers</h2></li>
          <li><i class="fa-solid fa-paw"></i></li>
          <li><p>Find likeminded dog owners near you at our park events</p></li>
        </ul>

      </div>

      <div class="col-3 flex-column justify-content-center">
        <ul class="testim-list">
          <li><h2>Shared Value</h2></li>
          <li><i class="fa-solid fa-coins"></i></li>
          <li><p>A meritocracy model of doggy daycare</p></li>
        </ul>
      </div>

      <div class="col-3 flex-column justify-content-center">
        <ul class="testim-list">
          <li><h2>Helpful Community</h2></li>
          <li><i class="fa-solid fa-house"></i></li>
          <li><p>Find and foster a community of support in your area</p></li>
        </ul>
      </div>

    </div>
  </div>
</div>
