<div class="container">
  <div class="banner p-3">
    <div class="row m-2">
      <div class="col-7">
        <h1>Find fellow pet owners in your area</h1>
        <div class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="e.g D0G 4ME">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
      <div class="col-4">
        <h2>About us<h3>
        <p>Lorem ipsum.......</p>
      </div>
    </div>
  </div>
</div>

<div class="body">
  <div class="banner bg-light m-3 p-3">
    <div class="row">
      <h2 class="text-center">Members</h2>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-3">

        <ul>
          <li><h2>Why join</h2></li>
          <li>IMAGE</li>
          <li><p>Find likeminded dog owners and support eachother</p></li>
        </ul>

      </div>

      <div class="col-3">
        <ul>
          <li><h2>Why join</h2></li>
          <li>IMAGE</li>
          <li><p>Find likeminded dog owners and support eachother</p></li>
        </ul>
      </div>

      <div class="col-3">
        <ul>
          <li><h2>Why join</h2></li>
          <li>IMAGE</li>
          <li><p>Find likeminded dog owners and support eachother</p></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container d-flex justfy-content-between">

    <div class="row mr-auto">
      <div class="col-6">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <div class="profile-info d-flex justify-content-inline">
              <h5 class="card-title">Owner & Pet</h5>
              <p>Location</p>
            </div>
              <p class="card-text">DOG description</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>
      </div>

      <div class="col-6">

                <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <div class="profile-info d-flex justify-content-inline">
              <h5 class="card-title">Owner & Pet</h5>
              <p>Location</p>
            </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

      </div>
    </div>

    <div class="row m-3">
      <h1>MAP</h1>
    </div>

  </div>
</div>
