<div class="container">
  <div class="banner p-3 align-middle" style="height: 350px;">
    <div class="row m-2">
      <div class="col-7">
        <h1>Find fellow pet owners in your area</h1>
        <div class="form-inline">
          <input class="form-control mr-sm-2 align-content-middle" type="search" placeholder="e.g D0G 4ME">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
      <div class="col-4">
        <p>At Collabrador we connect local, like-minded dog owners to create a community of support when you need it.
           Collabradors can post when their dog needs looking after and also help their connection when they need it, all without costing a penny!
           Make friends and ensure your dog is always well looked after. </p>
      </div>
    </div>
  </div>
</div>

<div class="body">

  <div class="container" style="height: 500px;">
    <div class="row">
      <div class="col-6">
        <div class="row d-flex">
          <div class="col-6 d-flex justify-content-center">

            <%= render 'profile_card' %>

            </div>

          <div class="col-6 d-flex justify-content-center">

            <%= render 'profile_card' %>

          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="row mr-auto">
          <img src="https://blogcdn.zeemaps.com/blog/wp-content/uploads/2020/01/Radius-map-2.png" class="map-eg-img">
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row mt-3">
      <h2 class="text-center">Why Join</h2>
    </div>
    <div class="row d-flex flex-grid justify-content-between">
      <div class="col-3">

        <ul>
          <li><h2>Why join</h2></li>
          <li>IMAGE</li>
          <li><p>Find likeminded dog owners and support eachother</p></li>
        </ul>

      </div>

      <div class="col-3">
        <ul>
          <li><h2>Why join</h2></li>
          <li>IMAGE</li>
          <li><p>Find likeminded dog owners and support eachother</p></li>
        </ul>
      </div>

      <div class="col-3">
        <ul>
          <li><h2>Why join</h2></li>
          <li>IMAGE</li>
          <li><p>Find likeminded dog owners and support eachother</p></li>
        </ul>
      </div>

    </div>
  </div>

</div>
