<%# PUT NAVBAR IN %>
<div class="container col-10 bg-light">
  <p><em>I am the pets#show page (a.k.a. the profile page)</em></p>

  <div id="cover-image">

    <%# Struggled to reduce the height of this %>
  </div>

  <%# Human and Pet Title %>
  <div id="profile-header">
    <img id="cover-image" src="https://images.pexels.com/photos/162149/dog-black-labrador-black-dog-162149.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid h-75 d-inline-block" alt="Responsive image">
    <div class="d-flex align-items-center">
      <img id="profile-picture" src="https://images.pexels.com/photos/2958113/pexels-photo-2958113.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Sean's profile picture">
      <div id="names-and-location">
        <h1>Sean & Cleo</h1>
        <h5>Watford</h5>
      </div>
    </div>
  </div>

  <%# <p><%= current_user.id = 12 ? 'owner' : 'helper'></p> %>

  <%# Bio %>
  <div id="bio" class="py-4">
    <h4>Introduction</h4>
    <p>Cleo has a fantastic nature and loves nothing more than running through the woods and cuddling up to people. She's great and well-mannered around other dogs.</p>
  </div>

  <%# Attributes %>
  <div id="attributes" class="py-4">
    <h4>About Cleo</h4>
    <%# SD: I think we might need an if statement for every attribute.
    If present, show X icon and then the attribute's value. %>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
    <p><i class="fa-solid fa-paw"></i> List icons</p>
  </div>

  <%# Reviews %>

  <div id="reviews" class="py-4">
    <h4>Reviews</h4>
    <div id="reviews-container" class="d-flex justify-content-around">
      <div id="review-card" class="col-3 p-3">
        <h6>“Sean took great care of our Bruce! Cleo was lovely when we had her too, loads of cuddles!”</h6>
        <div class="d-flex align-items-center justify-content-end">
        <p class="pl-3">... from <a href="">Victoria & Albert</a></p>
        <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large pr-3">
        </div>
      </div>

      <div id="review-card" class="col-3 p-3">
        <h6>“Sean took great care of our Bruce! Cleo was lovely when we had her too, loads of cuddles!”</h6>
        <div class="d-flex align-items-center justify-content-end">
        <p class="pl-3">... from <a href="">Victoria & Albert</a></p>
        <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large pr-3">
        </div>
      </div>

      <div id="review-card" class="col-3 p-3">
        <h6>“Sean took great care of our Bruce! Cleo was lovely when we had her too, loads of cuddles!”</h6>
        <div class="d-flex align-items-center justify-content-end">
        <p class="pl-3">... from <a href="">Victoria & Albert</a></p>
        <img src="https://images.pexels.com/photos/1174081/pexels-photo-1174081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Victoria's Profile Picture" class="avatar-large pr-3">
        </div>
      </div>
    </div>
  </div>

    <%# Appointments %>



    <!-- Content here -->

  </div>
