#marker-name-style {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

#link-style {
  color: rgb(0, 19, 231);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
