.modal-custom {
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease;
  position: fixed;
  z-index: 1021;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
  backdrop-filter: blur(10px);

  .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid darkgrey;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
  }

  &.show {
    pointer-events: all;
    opacity: 1;
  }
}

.form-name {
  
}
