.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo-link {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-size: 24px;
  font-weight: 700;
}

#signout-link {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}
