// To be coded

#review-card {
  border-radius: 10px;
}

#review-card p {
  color: grey;
  margin-bottom: 0px;
  font-size: small;

}

#review-card p a {
  text-decoration: none;
  font-size: medium

}
