// To be coded

#review-card {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}

#review-card p {
  color: grey;
  margin-bottom: 0px;
  font-size: small;

}

#review-card p a {
  text-decoration: none;
  font-size: medium

}
