// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Components
@import "components/attribute_card";

#attributes .fa-solid {
  color: #8ABF9F;
  transition: 0.3s;
}

#attributes .fa-solid:hover {
  color: #9FCBB0;
  cursor: pointer;
}
