// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/_profile";

// Components
@import "components/attribute_card";

#attributes .fa-solid {
  color: #8ABF9F;
  transition: 0.3s;
}

#attributes .fa-solid:hover {
  color: #9FCBB0;
  cursor: pointer;
}

button {
  all: unset;
}

.btn-action {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  // border: 1px solid rgb(5, 81, 62);
  border-radius: 30px;

  background-color: rgb(5, 81, 62);
  position: relative;

  box-shadow: inset 0 0 0 0 #8ABF9F;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;

  &:hover {
    box-shadow: inset 200px 0 0 0 #8ABF9F;
  }
}
