<div class="appointment-card">
  <div class="appointment-card-header">
    <h3><%= appointment.pet.name %> - Confirmed</h3>
  </div>
  <div class="appointment-card-content">
    <table>
      <%= render 'appointments/appointment_slot', appointment: appointment %>
      <tr>
        <th class="table-icon-c"><i class="fa-solid fa-map-pin"></i></th>
        <th class="table-text-c">Park</th>
      </tr>
      <tr>
        <th class="table-icon-c"><i class="fa-solid fa-person-walking"></i></th>
        <th class="table-text-c">Walk</th>
      </tr>
    </table>
    <div>
      
    </div>
  </div>
</div>
